{{#each this}}
<li class="card">
    <button type='button' class='card-delete-btn is-hidden'>
   <!-- <svg width="30" height="30" class= "icon-bin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 791.908 791.908">
        <path
            d="M648.587 99.881H509.156C500.276 43.486 452.761 0 394.444 0S287.696 43.486 279.731 99.881H142.315c-26.733 0-48.43 21.789-48.43 48.43v49.437c0 24.719 17.761 44.493 41.564 47.423V727.64c0 35.613 28.655 64.268 64.268 64.268h392.475c35.613 0 64.268-28.655 64.268-64.268V246.087c23.711-3.937 41.564-23.711 41.564-47.423v-49.437c-1.007-27.557-22.796-49.346-49.437-49.346zM394.444 36.62c38.543 0 70.219 26.733 77.085 63.261H316.351c7.874-35.613 39.55-63.261 78.093-63.261zm224.48 692.119c0 14.831-11.901 27.648-27.648 27.648H198.71c-14.831 0-27.648-11.901-27.648-27.648V247.185H618.01v481.554h.914zm41.473-530.991c0 6.958-4.944 11.902-11.902 11.902H142.223c-6.958 0-11.902-4.944-11.902-11.902v-49.437c0-6.958 4.944-11.902 11.902-11.902h505.265c6.958 0 11.901 4.944 11.901 11.902v49.437h1.008zM253.09 661.45V349.081c0-9.887 7.873-17.761 17.761-17.761s17.761 7.873 17.761 17.761V661.45c0 9.887-7.873 17.761-17.761 17.761-9.887 1.098-17.761-7.874-17.761-17.761zm125.516 0V349.081c0-9.887 7.873-17.761 17.761-17.761 9.887 0 17.761 7.873 17.761 17.761V661.45c0 9.887-7.873 17.761-17.761 17.761-9.797 1.098-17.761-7.874-17.761-17.761zm125.606 0V349.081c0-9.887 7.873-17.761 17.761-17.761s17.761 7.873 17.761 17.761V661.45c0 9.887-7.873 17.761-17.761 17.761-8.88 1.098-17.761-7.874-17.761-17.761z" />
    </svg>-->
    </button>
    <img src="{{poster_path}}" class="card-img" alt="{{title}}" id="{{id}}">
    <div class="film">
        <h3 class="film-title">{{title}}</h3>
        <div class="desc-wraper">
            <p class="film-genre">{{genres}}</p>
            <p class="film-line">|</p>
            <p class="film-release"> {{release_date}}</p>
            <p class="film-average category-accent is-hidden">{{vote_average}}</p>
        </div>
    </div>
</li>
{{/each}}

